<div class="container-fluid" ng-controller="SelectController as ctrl">
    <!-- Jumbotron Header -->
    <header>
        <h1>{{ 'application.view.select.welcome' | localize }}</h1>
    </header>
    <div>
        <h3>Selectize theme</h3>
        <p>Selected: {{ctrl.country.selected}}</p>
        <ui-select ng-model="ctrl.country.selected" theme="bootstrap" style="width: 300px;" title="Choose a country">
            <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
            <span ng-bind-html="country.name | highlight: $select.search"></span>
            <small ng-bind-html="country.code | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
    </div>
</div>